#cloud-config
package_update: true
package_upgrade: true

packages:
  - openssh-server
  - ansible

ssh_pwauth: false

runcmd:
  - systemctl enable ssh
  - systemctl restart ssh

final_message: "Ansible and SSH installed on Ubuntu Ansible host."
