# --- Project & Storage ---
project      = "default"
storage_pool = "default"

# --- Front VM (Alpine) ---
# Fixed: 512MB RAM, 16GB disk
# Variable: CPU cores
front_cpu = 1

# --- Back VM (Ubuntu Cloud) ---
# Fixed: 32GB disk
# Variable: CPU cores and RAM
back_cpu    = 1
back_memory = "1GB"


